.uiNavbarRegister {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 90px;
  z-index: 1;
  background-color: #ffffff;
  border-bottom: 3px solid #040404;
}
.uiNavbarRegister:hover{
    height: 92px;
}  