* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.registerImg{
  /* position: absolute; */
  bottom: 0;
  left: 0px;
  width: 88%;
  top: 25px;
  height: 90%;
  z-index: -1;
}
.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.registerTexts{
   text-align: center;
    width: 88%;
    /*position: absolute;*/
    top: 90px;
    display: flex;
    justify-content: center;
    height: 47px;
    background-color: #040404;
}
.textRegisters{
  color: #f0f0f0;
  font-size: 25px;
}

.textRegister{
  color: #f0f0f0;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
}
.registerText{
  text-align: center;
  width: 29.9%;
  top: 95%;
  position: absolute; 
  display: flex;
  justify-content: center;
  height: 55px; 
  background-color: #040404;
}