* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif ;
  }
  
  .primaryHeader {
    width: 100%;
    height: 8rem;
    background-color: #ffffff;
    display: flex;
  }
  
  .imgLogotype {
    width: 9.5rem;
    padding-left: 6rem;
    margin-top: none;
  }
  
  .primaryBtnHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 65rem;
    padding-top: 3rem;
  }
  
  .btn-primaryHeader {
    width: 12rem;
    height: 2.5rem;
    background-image: linear-gradient(90deg, #F6560A 0%, #fd651e 49%, #F6560A 100%, #fd651e  100%);
    border-radius:1rem;
    border: #F6560A;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3rem;
    cursor: pointer;
    text-decoration: none;
  }
  .btn-primaryHeader:hover {
    animation:slidebg 2s linear infinite;
    color: #ffffff;
    background:#333131;
  }
  
  @keyframes slidebg {
    to {
      background-position:5vw;
    }
  }
  
  .spacePrincipal {
    width: 100%;
    height: 0.2rem;
    background-color: #333131;
    margin-top: 9px;
  }
  
  .containerSearch {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #DAE4ED;
  }
  
  .primarySearch {
    background-color: #f5f3f3;
    width: 50rem;
    height: 2rem;
    position: relative;
    border: #000000;
    color: #000000;
    border-radius: 0.5rem;
    margin-left: 60rem;
  }
  
  .iconSearch {
    font-size: 1.5rem;
    color: #F6560A;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: 1rem;
    
  }
  
  .iconSearch:hover {
    color: #3a3a3a;
    animation:slidebg 0.5s linear infinite;
  }
  

  
  
  /* ------------------ STYLES FOR CARDS ----------------------------- */
  

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  .main-products {
    width: 100%;
    height: 70rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #DAE4ED;
  }
  
  .header-Card {
    width: 12rem;
    height: 18rem;
    background-color: #ffffff;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em;
  }

  .header-Card:hover {
    box-shadow:  5px 0px 5px #565656;
    animation:slidebg 0.5s linear infinite;
    transform: scale(1.1);
    transition: 1.0s;
    cursor: pointer;
  }
  
  .iconInfo {
    font-size: 1rem;
    color: #F6560A;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-right: 10rem;
  }
  
  .iconInfo:hover{
    color: #3a3a3a;
  }
  
  h1 {
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    margin-top: -1rem;
    font-family: 'Bebas Neue', cursive;
  }
  
  .body-Card {
    width: 13rem;
    height: 5rem;
    margin-left: 5rem;
    margin-top: 1rem;
  }
  
  .img-Card {
    margin-left: -0.2rem;
    width: 9rem;
    height: 8rem;
    object-fit: fill;  
    margin-top: -0.2rem;
    transition: transform .8s;
  }
  
  h2 {
    margin-top: 0.2rem;
    height: 2rem;
    text-align: center;
    margin-right: 3.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }
  
  p {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
  }
  
  .apply-Product {
    margin-top: 1rem;
    width: 12rem;
    height: 1.8rem;
    background-color: #F6560A;
    margin-left: -2rem;
  }
  
  .apply-Product:hover {
    animation:slidebg 2s linear infinite;
    color: #ffffff;
    background:#333131;
  }
  
  .btn-Apply {
    margin-top: 0.1rem;
    width: 12rem;
    height: 2.5rem;
    margin-right: -1rem;
    background-color: #F6560A;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight:bold;
    border-radius: 1rem;
    font-size: 1rem;
    color: #ffffff;
    border: #F6560A;
    cursor: pointer;
  }
  
  .btn-Apply:hover {
    animation:slidebg 2s linear infinite;
    color: #ffffff;
    background:#333131;
  }
  /* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
  

   /* ---- STYLES FOR MODAL WINDOW ---- */

   .modalWindowFeatures{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titleModalWindows{
    color: #F6560A;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-left: 3.8rem;
  }


  .imgModalWindow {
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.8rem;
    margin-top: 1.5rem;
  }

  .pModalDescription{
    color: #000000;
    margin-top: 1.5rem;
  }

  .pModalAvailability{
    color: #000000;
  }

  .btnOkModal{
    color: #ffffff;
    background-color: #F6560A;
    border: none;
    border-radius: 0.5rem;
    width: 5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 29rem;
    font-weight: bold;
  }

  .btnOkModal:hover{
    color: #ffffff;
    background-color: #333131;
    transition: all 1s ease;
    font-weight: bold;
    cursor: pointer;
  } 
  
  