.Login {
  width: 36%;
  height: 100%;
  z-index: 1;
} 
.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 36%;
  position: absolute;
  top: 8rem;
  display: flex;
  justify-content: center;
  height: 75px;
  background-color: #040404;
}

.title {
  position: absolute;
  color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
.content-title {
  display: none;
  height: 100%;
  width: 100%;
} 
.Login {
  display: none;
} 

.cont-form-login{
  position: relative;
  order: -1;
  padding: 2rem 0rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.cont-login{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
}