* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
  }
  
  .Login {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 36%;
    top: 25px;
    height: 100%;
    z-index: -1;
}  
  .img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  div.content-title {
    text-align: center;
    width: 36%;
    position: absolute;
    top: 92px;
    display: flex;
    justify-content: center;
    height: 75px;
    background-color: #040404;
}
h2.title {
  position: absolute;
  color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2cm;
  left: 15%;
  top: 13%;
}

@media (min-width: 400px) and (max-width: 731px) {
  div.content-title {
      text-align: center;
      width: 100%;
      position: absolute;
      top: 90px;
      display: flex;
      justify-content: center;
      height: 75px;
      background-color: #040404;
  }
  h2.title {
    position: absolute;
    color: #f0f0f0;
    font-size: 1.4cm;
    right: 0%;
  }
}