* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}
/* Styles LayoutRegister */
.layoutRegister {
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 20px;
  margin-left: 35px;
  display: grid;
}

.files {
  margin-top: -5%;
}

.img-Logotype-Register {
  width: 8rem;
  height: 9rem;
  margin-left: 2rem;
} 

.filesRegister input {
  font-family: 'Poppins', sans-serif;
  outline: 0;
  background: #f2f2f2;
  min-width: 90%;
  height: 2.5rem;
  border: 0;
  padding: 1rem 1.2rem;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 5px;
  border-radius: 7px;
  
}

.fileRegister input {
  font-family: 'Poppins', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: none;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 6px;
}


.selectDepart,
.selectMuni {
  font-family: 'Poppins', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 90%;
  border: 0;
  margin: 2px 2px;
  padding: 8px 0;
  box-sizing: border-box;
  font-size: 12px;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 7px;
}

.photos input {
  text-align: center;
  background: #282828;
  border-top: 5px solid #f6560a;
  padding: 4px 60px;
  box-sizing: border-box;
  border-radius: 6px;
  width: 80%;
  /* margin: 5px 75px; */
}

.selectMuni {
  margin-top: 11px;
}

.btnSubmirRecord {
  border-radius: 1rem;
  border: none;
  background-color: #ff5100;
  font-size: 1.2rem;
  color: #fff;
  margin: 0.7rem 1rem;
  cursor: pointer;
  height: 40px;
  width: 80% !important;
  font-size: 15px;
 
}

.btnSubmirRecord:hover {
  background-position: right;
}

div.register-line {
  display: block;
  margin-top: 1px;
  margin-bottom: 0.5em;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 100%;
}

.prom {
  display: none;
}

.redirectLogin {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ff5100;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  margin-top: 2%;
  font-family: Arial, Helvetica, sans-serif;
}

.redirectLogin:hover {
  font-size: none;
}

.terms {
  width: 100%;
  text-decoration: none;
  transition: 7s;
  color: #000000;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}


.termsRegister {
  margin-top: 1px;
  font-family: 'Poppins', sans-serif;
}


.termsAccep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.alertIcorrect,
.alertIcorrects {
  color: #fc7e43;
  margin-top: 1px;
  width: 100%;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  margin: 0 !important;
}

/*Styles PageRegister */
.line {
  width: 100%;
  height: 0.1rem;
  background-color: #3331318c;
  margin-top: 2px;
}

/* StyleHeaderRegister*/
.registerImg {
  width: 100%;
  overflow: hidden;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.registerTexts {
  text-align: center;
  width: 100%;
  top: 90px;
  display: flex;
  justify-content: center;
  height: 47px;
  background-color: #040404;
}

.textRegisters {
  color: #f0f0f0;
  font-size: 25px;
}

.textRegister {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.registerText {
  text-align: center;
  width: 34%;
  top: 60rem;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 66rem;
  height: 47px;
  background-color: #040404;
}


/*Style UIMainRegister */
.uiMainRegister {
  width: 100%;
  display: grid;
  grid-template-columns: 34% 50%;
  column-gap: 2rem;
}
.completeRecord{
  width: 100%;
}
@media (max-width: 768px){
  .uiMainRegister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .registerTexts {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.5rem;
    border-radius: 7px;
    margin-top: 30%;
    width: 100%;
    height: 2rem;
  }
  .registerTexts p {
    font-size: 14px;
  }
  .layoutRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
    box-sizing: border-box;
    height: 100%;
    margin-left:0;
  }
  .container-img-register{
    height: 10px;
    opacity: 0.8;
    padding: 2rem 1rem;
    z-index: -1;
    display: none;
  }
  .completeRecord{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .files{
    /* background-color: #040404d5; */
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0;
    z-index: 10;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .filesRegister{
    width: 100%;
  } 
  .filesRegister input {
    font-family: 'Poppins', sans-serif;
    outline: 0;
    background: #f2f2f2;
    min-width: 90%;
    border: 0;
    padding: 1rem 1.2rem;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 14px;
    border-radius: 7px;
    height: 3rem;
  }

  .selectDepart,
  .selectMuni {
  font-family: 'Poppins', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 90%;
  border: 0;
  padding: 8px;
  box-sizing: border-box;
  font-size: 12px;
  margin-top: 14px;
  height: 3rem;
}

}

/* Style UINavbarRegister */
.uiNavbarRegister {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 8rem;

  background-color: #ffffff;

}

