* {
  font-family: Arial, Helvetica, sans-serif;
}

.primaryHeader {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(211,211,211,1);
  -moz-box-shadow: 0px 3px 10px 0px rgba(211,211,211,1);
  box-shadow: 0px 3px 10px 0px rgba(211,211,211,1);
}

.primaryBtnHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 420px) {

  .primaryHeader{
    flex-direction: column;
  }

  .primaryHeader img{
    width: 20%;
  }

  .primaryBtnHeader{
    flex-direction: column;
    margin: none;
  }
  .btn-primaryHeader{
    margin-top: 1rem;
  }
  .btn-Apply {
    width: 100% !important;
  }
}

.btn-Logout{
  width: 12rem;
  background-color: #c0392b;
  border-radius: 1rem;
  color: #ffffff;
  font-size: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0.7rem 0;
}

.btn-Logout:hover{
  color: #ffffff;
  background: #e74c3c;
}

.custom-form {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.custom-select{
  margin-bottom: 10px;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
}

.custom-btn{
  width: 200px;
  border-radius: 10px;
  padding: 5px 3px 5px 3px;
  background-color: #0862ac;
  color: white;
}

.input-custom {
  margin-bottom: 10px;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
}

.btn-Add{
  width: 12rem;
  background-color: #af9710;
  border-radius: 1rem;
  color: #ffffff;
  font-size: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: none;
  padding: 0.7rem 0;
}

.btn-Add:hover{
  color: #ffffff;
  background: #e9b72e;
}

.btn-primaryHeader{
  --color: #ff661f;
  background: linear-gradient(#f6560a,#f6560a);
  width: 12rem;
  height: 2.5rem;
  border-radius: 1rem;
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border: 2px solid #f6560a;
  transition: color .5s;
  z-index: 1;
  font-size: 1rem;
  color: #ffff;
  cursor: pointer;
}

.btn-primaryHeader:before{
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 200px;
  width: 480px;
  border-radius: 50%;
}

.btn-primaryHeader:before{
  top: 100%;
  left: 100%;
  transition: all 2s;
}

.btn-primaryHeader:hover:before{
  top: -45px;
  left: -34px;
}

.btn-primaryHeader:hover{
  background:linear-gradient(#000000, #000000) ;
  animation: slidebg 2s linear infinite;
  border: 0px solid #000000;
  color: #FFFF;
}

.home-icon {
  cursor: pointer;
  color: #f6560a;
  font-size: 3rem;
}

.notification-icon {
  cursor: pointer;
  color: #f6560a;
  font-size: 3rem;
}

.containerLogotype{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgLogotype {
  width: 9rem;
  margin-left: 0rem;
  margin-top: 0%;
}

.spacePrincipal {
  width: 100%;
  height: 0.1rem;
  background-color: #3331318c;
  margin-top: 2px;
}

.containerSearch {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dae4ed;
}

.primarySearch {
  cursor: pointer;
  background-color: #f5f3f3;
  width: 80%;
  height: 2rem;
  position: relative;
  border: #000000;
  color: #000000;
  border-radius: 0.5rem;
  outline: none;
}

.iconSearch {
  font-size: 30px;
  color: #ff661f;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.iconSearch:hover {
  color: #3a3a3a;
  animation: slidebg 0.5s linear infinite;
}

/* ------------------ STYLES CONTENT MODAL ------------------------- */

.makeStyles-paper-1, .makeStyles-paper-2, .makeStyles-paper-3, .makeStyles-paper-4{
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  display: grid !important;
  grid-template-columns: 1fr !important;
  place-items: center;
  border-radius: 2rem;
  overflow-y: scroll;
  box-sizing: border-box;
}

.cont-noti{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: bisque;
  width: 90%;
  padding: 15px;
  margin: 1rem;
  box-sizing: border-box;
  border-radius: 2rem;
}

.cont-noti h3{
  font-size: 22px;
}

.cont-noti p{
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.btnOkModal{
  width: 70%;
  padding: 1rem 2rem;
}

/* ------------------ STYLES FOR CARDS ----------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.main-products {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #dae4ed;
}

.main {
  width: 100%;
  height: auto;
}

.container-card{
  cursor: pointer;
  width: 10%;
  min-width: 190px;
  height: 100%;
  margin: 2rem;
  background-color: #ffffff;
  transition: all 0.2s;
  border-radius: 10px;
  
}

.container-card:hover {
  box-shadow: 5px 0px 5px #565656;
  animation: slidebg 0.5s linear infinite;
  transform: scale(1.1);
  cursor: pointer;
}

.header-Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.iconInfo {
  font-size: 1.2rem;
  color: #f6560a;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-right: 10rem;
}

.iconInfo:hover {
  color: #3a3a3a;
}

h1 {
  font-size: 25px;
  text-decoration: none;
  color: #000000;
  margin-top: 0rem;
  font-family: "Bebas Neue", cursive;
  display: flex;
  align-items: center;
}

.body-Card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-Card h2{
  text-align: center !important;
}

.img-Card {
  margin-left: 1.5px;
  width: 8rem;
  height: 7rem;
  object-fit: fill;
  margin-top: -5px;
}

h2 {
  margin: 0 1rem;
  height: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

p {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.headerInitial{
  width: 100%;
}

.apply-Product {
  width: 100%;
  height: 1.8rem;
  background-color: #f6560a;
  margin-left: 0rem;
}

.apply-Product:hover {
  animation: slidebg 2s linear infinite;
  color: #ffffff;
  background: #333131;
}

.btn-Apply {
  margin-top: 0.1rem;
  width: 100%;
  height: 2.5rem;
  background-color: #f6560a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 1rem;
  font-size: 1rem;
  color: #ffffff;
  border: #f6560a;
  cursor: pointer;
}

.btn-Apply:hover {
  animation: slidebg 2s linear infinite;
  color: #ffffff;
  background: #333131;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---- STYLES FOR MODAL WINDOW ---- */

.makeStyles-paper-1, .makeStyles-paper-2, .makeStyles-paper-3, .makeStyles-paper-4{
  max-width: 90% !important;
  max-height: 85% !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px !important;
  box-sizing: border-box;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.titleModalWindows {
  color: #f6560a;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.imgModalWindow {
  width: 60%;
  min-width: 200px;
  height: 60%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 2rem;
  box-sizing: border-box;
}

.pModalDescription {
  color: #000000;
  margin-top: 1.5rem;
}

.pModalAvailability {
  color: #000000;
}

.btnOkModal {
  color: #ffffff;
  background-color: #f6560a;
  border: none;
  border-radius: 0.5rem;
  width: 80%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.btnOkModal:hover {
  color: #ffffff;
  background-color: #333131;
  transition: all 1s ease;
  font-weight: bold;
  cursor: pointer;
}

/* ---- STYLES FOR FOOTER ---- */
.footer-Main-Page {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #4b0f0f;
  flex-direction: column;
}


/* ---- STYLES FOR MOVIL ---- */
@media (max-width: 990px) {
  .makeStyles-paper-1, .makeStyles-paper-2, .makeStyles-paper-3, .makeStyles-paper-4{
    max-height: 80% !important;
    padding: 0.2rem 0.2rem;
  }

  .imgModalWindow {
    width: 60%;
    min-width: 180px;
    height: 20%;
  }
}

@media (max-width: 520px) {
  .makeStyles-paper-1, .makeStyles-paper-2, .makeStyles-paper-3, .makeStyles-paper-4{
    max-height: 90% !important;
    padding: 0.2rem 0.2rem;
  }
}


/* --------  PAGE MY PRODUCTS  ---------- */
.container-My-Products-card {
  width: 10%;
  min-width: 190px;
  height: 100%;
  margin: 2rem;
  background-color: #ffffff;
  transition: all 0.2s;
  border-radius: 10px;
  padding: 1rem 0 0 0;
}

.container-My-Products-card:hover {
  box-shadow: 5px 0px 5px #565656;
  animation: slidebg 0.5s linear infinite;
  transform: scale(1.05);
  cursor: pointer;
}

.apply-My-Products{
  width: 100%;
  height: 1.8rem;
  margin-left: 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding: 0.7rem 0rem;
}

.btn-Edit{
  min-width: 80px;
  min-height: 30px;
  background-color: #0097e6;
  border-style: none;
  color: #ffffff;
  border-radius: 7px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-Edit:hover {
  letter-spacing: 1px;
  background-color: #0479b8;
}

.btn-Remove{
  min-width: 80px;
  min-height: 30px;
  background-color: #e84118;
  border-style: none;
  color: #ffffff;
  border-radius: 7px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-Remove:hover {
  letter-spacing: 1px;
  background-color: #c23616;
}







/* --------  PAGE EDIT PRODUCT  ---------- */
.containerFormData, .cont-add-product{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
  background-color: #1e272e;
}

.form-edit-product, .form-add-product{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
  background-color: #f6560a;
  padding: 2rem;
  border-radius: 1rem;
}

.form-edit-product h2, .form-add-product h2{
  font-size: 35px;
  color: #fff;
  padding-bottom: 1rem;
}

.form-edit-product input, .form-add-product input{
  border-radius: 25px;
  border-style: none;
  padding: 0.5em 1rem;
  width: 100%;
  box-sizing: border-box;
}

.form-edit-product input:focus, .form-add-product input:focus{
  background-color: #f3f3f3;
  color: #1e272e;
}

.form-edit-product select, .form-add-product select{
  border-radius: 25px;
  border-style: none;
  padding: 0.5em 1rem;
  width: 100%;
  box-sizing: border-box;
}

.button-page-edit, .button-add-product{
  border-radius: 25px;
  padding: 0.7rem 0;
  width: 100%;
  box-sizing: border-box;
  border-style: none;
  background-color: #fff;
  color: #f6560a;
  transition: all 0.2s ease;
  cursor: pointer;
  letter-spacing: 1px;
}

.button-page-edit:hover, .button-add-product:hover {
  background-color: #ad3f0c;
  color: #fff;
  font-weight: bold;
  transform: scale(101%);
  letter-spacing: 2px;
}


/* MODAL ELIMINAR */

.makeStyles-paper-4{
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%)!important;
  background-color: #fff !important;
  border-radius: 1rem !important;
  border-style: none !important;
  display: flex !important;
  flex-direction: column;
  padding: 3rem 1rem !important;
}

.makeStyles-paper-4 h2{
  font-weight: bold !important;
  color: #252525 !important;
  letter-spacing: 1px !important;
}

.cont-buttons-modal-eliminar{
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  padding: 1rem 0;
}

.btn-eliminar{
  width: 30%;
  min-width: 80px;
  min-height: 30px;
  background-color: #e84118;
  border-style: none;
  color: #ffffff;
  border-radius: 7px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-eliminar:hover {
  letter-spacing: 1px;
  background-color: #c23616;
}

.btn-cancelar{
  width: 30%;
  min-width: 80px;
  min-height: 30px;
  background-color: #0097e6;
  border-style: none;
  color: #ffffff;
  border-radius: 7px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-cancelar:hover {
  letter-spacing: 1px;
  background-color: #0479b8;
}

.makeStyles-paper-4 p{
  text-align: center;
  font-size: 1rem;
}














.footer-Page {
  width: 100%;
  height: 15rem;
  background-color:#262626!important;
  margin-top: none;
}