img.logo {
  position: absolute;
  width: 8%;
  top: 0%;
  left: 38%;
}

img.logoFullMarket {
  margin: -3%;
  margin-left: 3%;
}

@media (max-width: 1200px) {
  img.logoFullMarket {
    margin: -4%;
    margin-left: 12%;
  }
  img.logo {
    position: absolute;
    width: 12%;
    top: -4%;
    left: 38%;
  }
}
@media (max-width: 1030px) {
  img.logo {
    position: absolute;
    width: 14%;
    top: -4%;
    left: 34%;
  }
  img.logoFullMarket {
    margin: -6%;
    margin-left: 12%;
  }
}
@media (max-width: 1000px) {
  img.logo {
    position: absolute;
    width: 14%;
    top: -4%;
    left: 34%;
  }  
  div.uiNavbarLogin {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 86px;
    background-color: #ffff;
    border-bottom: 2px solid #040404;
  }
}
@media (max-width: 768px) {
  img.logo {
    width: 8rem;
    height: 8rem;
    margin-left: -2%;
    top: -10px;
  }
    img.logoFullMarket {
    margin: -4%;
    margin-left: 18%; 
  }
  div.uiNavbarLogin {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6rem;
    background-color: #ffffff;
  }
}
@media (max-width: 500px) {
  div.uiNavbarLogin {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6rem;
    background-color: #ffffff;
  }
  img.logo {
    width: 8rem;
    height: 9rem;
    margin-left: -18%;
    top: -4%;
  }
  img.logoFullMarket {
    margin: -10%;
    margin-left: 22%;
  }
}
@media (max-width: 420px) {
  img.logo {
    width: 7rem;
    height: 8rem;
    margin-left: -25%;
    top: -2%;
  }
  img.logoFullMarket {
    margin: -10%;
    margin-left: 18%;
  }
}