
.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 40rem;
}


/* TAMAÑO DE IMAGEN DE CARROUSEL */
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 60rem;
}

/* ########### CAROUSEL */
.cont-title-text{
  background-color: rgba(0, 0, 0, 0.623);
  padding: 1rem 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.cont-title-text h1 {
  display: block;
  color: #fff;
  letter-spacing: 2px;
  text-align: end !important;
}

.cont-title-text p {
  text-align: end !important;
}

.carousel-indicators{
  bottom: -20px !important;
}

.btn-carousel{
  height: 15px !important;
  width: 15px !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 50% !important;
  margin-top: 2rem;
  z-index: 2;
}

.carousel-control-prev-icon , .carousel-control-next-icon{
  background-color: rgba(0, 0, 0, 0.623);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fff;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}




/* RESPONSIVE CAROUSEL */
@media (max-width: 1080px) {
  .carousel-item {
    height: 35rem;
  }

  .carousel-item > img {
    height: 40rem;
  }
}

@media (max-width: 768px) {
  .carousel-item {
    height: 25rem;
  }

  .carousel-item > img {
    height: 30rem;
  }
}

@media (max-width: 411px) {
  .carousel-item {
    height: 20rem;
  }

  .carousel-item > img {
    height: 25rem;
  }
}

@media (max-width: 360px) {
  .carousel-item {
    height: 20rem;
  }

  .carousel-item > img {
    height: 20rem;
  }
}